<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}

 <div class="moves">{{user.username}}</div>|<div class="moves"><a href="{% url 'logout' %}">Выйти</a></div>
{% else %}
<div class="moves"><a href="{% url 'login'%}" >Войти</a></div>|<div class="moves">
      <a href="{% url 'signup' %}">Регистрация</a></div>
{%endif%}{% endblock %}

{% block content %}



<form method="post" action="{% url 'select_in_home'%}">
    {% csrf_token %}
    {% if groups %}
        <select id="group_elem" name="group_elem">
            {% for gr in groups %}
            <option value="{{gr.id}}">{{gr.group}}&nbsp;&ndash; {{gr.curriculum}}&nbsp;&ndash; {{gr.semester}}</option>
            {% endfor %}
        </select>
        {% if user.is_authenticated%}
        <input id="date" name="date" type="date" value="{{today}}">
        {% endif%}
        <button type="submit">Показать</button>
    {% else%}
        Нет ни одного учебного курса
    {% endif %}
</form>

{% endblock %}